@model List<Models.ClientOrderViewModel>
<link rel="stylesheet" href="~/css/ListOrder.css" asp-append-version="true"/>
<h2>Мои заказы</h2>
<div class="order-container">
    @foreach (var order in Model)
    {
    <div class="order-card">
        <p><b>Откуда:</b> @order.DepartureAddress</p>
        <p><b>Куда:</b> @order.DestinationAddress</p>
        <p><b>Статус:</b> @order.Status</p>
        <p><b>Расстояние:</b> @order.DistanceKm км</p>
        <p><b>Стоимость:</b> @order.Cost руб.</p>
    </div>
    }
</div>
